PORT=8081
WHITELIST_IPS=203.0.113.1,192.168.1.10,127.0.0.1,::1 # Daftar IP yang diizinkan. ::1 adalah IPv6-mapped IPv4 address untuk localhost.
GEMINI_API_KEY=gemini_api_key
JWT_SECRET=secret
JWT_ACCESS_EXPIRED="30d"
DATABASE_URL="mysql://root:@localhost:3306/ragence"